.menu-wrapper {
    position: relative;
    .left-nav {
        // float: left;
        float: right;
    }
    .pruduct-list {
        position: absolute;
        top: 0;
        right: 0;
        width: 84%;
        // width: 7.5rem - 1.199999999rem;
        // background-color: red;
        float: right;
        .product-title {
            height: 0.5rem;
            line-height: 0.5rem;
            // text-align: center;
            display: flex;
            justify-content: center;
            p{
            font-size: 0.24rem;
            color: #e02d3f;
            margin-left: .13rem;
            margin-right: .13rem;
            }
            span {
                // transform:;
                transform: skew(20deg) scale(1.4);
                // font-weight: bold;
                width: 0.2rem;
                height: 0.4rem;
                // width: 14px;
                // height: 24px;
            }
            span:nth-of-type(1), span:nth-of-type(6) {
                color: #efadb0;
            }
            span:nth-of-type(2), span:nth-of-type(5) {
                color: #e26d71;
            }
            span:nth-of-type(3), span:nth-of-type(4) {
                color: #d62f35;
            }
        }
    }
}
