.menu-wrapper {
    overflow: hidden;
    margin: 0;
    bottom: 0;
    position: relative;
    // height: 100% !important;
    height: 8.8rem;
    background-color: red;
    .left-nav {
        // float: left;
        list-style: none;
        overflow: scroll;
        background-color: #f6f6f6;
        // width: 1.2rem;
        width: 16%;
        height: 100%;        
    }
    .pruduct-container {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 84%;
        float: right;
        .product-title {
            background-color: #ffffff;
            height: 0.5rem;
            line-height: 0.5rem;
            // text-align: center;
            display: flex;
            justify-content: center;
            p{
            font-size: 0.24rem;
            color: #e02d3f;
            margin-left: .13rem;
            margin-right: .13rem;
            }
            span {
                // transform:;
                transform: skew(20deg) scale(1.4);
                // font-weight: bold;
                width: 0.2rem;
                height: 0.4rem;
                // width: 14px;
                // height: 24px;
            }
            span:nth-of-type(1), span:nth-of-type(6) {
                color: #efadb0;
            }
            span:nth-of-type(2), span:nth-of-type(5) {
                color: #e26d71;
            }
            span:nth-of-type(3), span:nth-of-type(4) {
                color: #d62f35;
            }
        }
        .product-list {
            height: 100%;
            overflow: scroll;
            
            .product-footer {
                margin: 0 0.2rem;
                font-size: 0.24rem;
                .footer-tip {
                    span {
                        margin-left: 0.1rem;
                        display: inline-block;
                        padding-bottom: 0.06rem;
                    }
                    .tip-content {
                        font-size: 0.22rem;
                        line-height: 0.28rem;
                    }
                }
                .footer-info {
                    margin-top: 0.2rem;
                    padding-top: 0.16rem;
                    .three-item {
                        line-height: 0.22rem;
                        padding:0 0.6rem 0.14rem;
                        display: flex;
                        justify-content: space-between;
                        span:nth-of-type(2) {
                            display: inline-block;
                            padding:0  10%;
                            border-left: 1px solid #a2a2a2;
                            border-right: 1px solid #a2a2a2;
                        }
                    }
                    .author-info, .author-say{
                        text-align: center;
                    }
                }
            }
        }
        
    }
}
